# Trophic model for gut data processing
This file is used to pre-process all data (especially Chia network and Thai Children data) into the format which is convenient for simulations.

In [21]:
########### Self-customized setting
import pandas as pd
import numpy as np

In [22]:
########### Load the mapped metabolites and microbes from Sharon to Chia network
metagenome = pd.read_csv('./data/HMP_metagenome_matched.txt', delimiter='\t')
metabolome = pd.read_csv('./data/HMP_metabolome_matched_wb.txt', delimiter='\t')

In [23]:
########### Select the microbial strains have a maped existence in the Chia network
#metagenome_mapped_in_Chia = metagenome[metagenome['Chia_id'] > 0]
metagenome_mapped_in_Chia = metagenome[metagenome['Match'] == 'T']
metagenome = metagenome_mapped_in_Chia.groupby('Chia_id').apply(np.sum).iloc[:,7:-1]
metagenome_ID = metagenome.reset_index()['Chia_id']
metagenome.head()

,CSM5MCXL,CSM5MCY8,CSM5MCZ3,CSM5MCZF,CSM67UA2,CSM67UAA,CSM67UAQ,CSM67UB1,CSM67UBB,CSM67UBH,...,PSMA265T,PSMA265X,PSMA266I,PSMA266Q,PSMA2675,PSMA267J,PSMA267P,PSMA269W,PSMA26A3,PSMB4MBK
Chia_id,,,,,,,,,,,,,,,,,,,,,
9,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46,0.053677,0.000182,0.0,0.0,0.067255,0.0,0.0,0.019978,0.003985,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
print('The microbial coverage in Chia is',len(metagenome_mapped_in_Chia) / len(metagenome))
print(len(metagenome),'OTUs are shrinked to ', len(metagenome))

The microbial coverage in Chia is 1.005050505050505
198 OTUs are shrinked to  198

In [25]:
########### Select all metabolites in the metabolome have a maped existence in the Chia network
#metabolome_mapped_in_Chia = metabolome[metabolome['Chia_id'] > 0]
metabolome_mapped_in_Chia = metabolome[metabolome['Chia_id'] > 0]
metabolome = metabolome_mapped_in_Chia.groupby('Chia_id').apply(np.sum).iloc[:,5:]
metabolome = metabolome[metagenome.columns]
metabolome_ID = metabolome.reset_index()['Chia_id']
metabolome.head()

,CSM5MCXL,CSM5MCY8,CSM5MCZ3,CSM5MCZF,CSM67UA2,CSM67UAA,CSM67UAQ,CSM67UB1,CSM67UBB,CSM67UBH,...,PSMA265T,PSMA265X,PSMA266I,PSMA266Q,PSMA2675,PSMA267J,PSMA267P,PSMA269W,PSMA26A3,PSMB4MBK
Chia_id,,,,,,,,,,,,,,,,,,,,,
2006,15543,0,1463,737584,26191,723477,398877,298162,3491738,1137362681,...,175718,9223,39376,92140,106152,614477,0,102420,33781,0
2017,47804,0,9680,1557438,16915,323572,100026,128773,338997,46109426,...,0,1732187,72601,9082,29190,1582,344838,1292790,76367,0
2018,80031,0,21689,624044,8002,15836,123990,426162,16472368,16754216,...,760182,539,339272,475413,21628,1894687,739625,232729,202272,0
2020,64736,0,230,238747,25906,9895574,1186,21296259,11346709,634048172,...,0,0,85376,0,158556,64974,123248,158219,374703,139
2022,7522,29185,20305,1884199,22582,255096,28234,413404,12008801,0,...,633549,0,92549,0,67717,92,638,56418,59350,0

In [26]:
print('The metabolite coverage in Chia is',len(metabolome_mapped_in_Chia) / len(metabolome))
print(len(metabolome),'metabolites are shrinked to', len(metabolome))

The metabolite coverage in Chia is 1.0
92 metabolites are shrinked to 92

In [27]:
########### Load Chia network as net (containing information of metabolite consumption and production)
net = pd.read_csv('./data/pruned_chia_network.csv')
mean_net = net.groupby('microbes_ID').mean()
selfish_net = mean_net[mean_net.iloc[:,1] == 2]
i_selfish = selfish_net.index.values   #### i_selfish returns IDs of microbes don't generate byproducts
print(net.head())
print('###################################################################################################')

########### Load names of all nodes in the Chia network
names = pd.read_csv('./data/names_ID.txt',sep=': ')
names.set_index('IDs', inplace=True)
print(names.head())
print('###################################################################################################')

########### Load names of all nodes in the Chia network
#i_intake = pd.read_csv('nutrient_intake_ID_infact.txt',sep=': ')
i_intake = pd.read_csv('./data/nutrient_intake_ID.txt',sep=': ')
i_intake = i_intake['IDs'].values
print(i_intake)
print('###################################################################################################')

   metabolites_ID  microbes_ID  \
0            2001          896
1            2001          832
2            2001          831
3            2001          600
4            2001          571

   edge_types (2 represents intake, 3 represents secretion and 5 represents intake and secretion)
0                                                  2
1                                                  2
2                                                  2
3                                                  3
4                                                  3
###################################################################################################
                          Names
IDs
3    Acetivibrio cellulolyticus
4      Acetobacter pasteurianus
5      Acetohalobium arabaticum
6        Acholeplasma laidlawii
7      Achromobacter piechaudii
###################################################################################################
[2044 2060 2061 2064 2065 2068 2069 2072 2074 2079 2082 2094 2098 2149
 2161 2172 2174 2242 2157 2206]
###################################################################################################

/Users/tongwang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  # Remove the CWD from sys.path while we load stuff.
/Users/tongwang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [28]:
########### pickle all processed data which are useful for simulations
import pickle

pickle_out = open("Chia_network.pickle","wb")
pickle.dump([net, i_selfish, i_intake, names], pickle_out)
pickle_out.close()

pickle_out = open("data.pickle","wb")
pickle.dump([metagenome_ID, metagenome, metabolome_ID, metabolome], pickle_out)
pickle_out.close()